body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}

/* HEADER STYLES */
header {
  width: 1320px;
  height: 600px;
  margin: 60px auto 120px;
  background-image: url("../assets/banner/banner.png");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #07021182;
}
.header-container {
  padding: 185px;
}
.header-container p {
  color: #fff;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 32px;
  margin: 0;
}
.header-container h2 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  line-height: 95px;
  margin: 0;
}
/*----------------------------------- festive-wishes-section--------------- */
.festive-wishes-perent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.festive-wishes-perent h2 {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 88px;
  margin: 0px 0px 48px 0px;
  padding: 0;
}

.festive-wishes-perent h3 {
  color: #070211;
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin: 0px 0px 48px 0px;
  padding: 0;
}
.festive-wishes-perent p {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  margin-bottom: 16;
  padding: 0;
}
/*----------------------------------- festive-wishes-section  ENDED--------------- */
/* ------------------------------night wishes start---------------- */
.midle-width {
  width: 1320px;
  height: 600px;
  border-radius: 5px;
  margin: 0px auto 120px;
}
.second-banner {
  background-image: url("../assets/banner/banner2.png");
  background-color: #07021129;
  background-blend-mode: multiply;
}
.night-wish-container {
  display: flex;
  align-items: center;
  padding: 100px;
}
.texts > h4 {
  color: #fff;
  font-family: "Merriweather Sans";
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin: 0;
}
.texts > p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.texts > a {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
/* ENDED */

/* EVENT INFO STYLE  */
.info-section-perent {
  width: 1320px;
  height: 482px;
  margin: 0px auto 120px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.flexibleInCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px;
}
.info-wrapper span {
  text-align: center;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  line-height: 56px;
}
.text-red {
  color: #f00;
}
.primary-button {
  background: linear-gradient(to bottom, #f00, #f01);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s ease ease-in-out;
  text-transform: uppercase;
  margin-top: 48px;
}

.primary-button:hover {
  background: linear-gradient(to bottom, #4c0000, #7f0000);
}
/* ENDED */
/*-------------------------------offer coming soon section style-------------------- */
.best-offer-middle-width {
  width: 1320px;
  margin: 0 auto;
}

.best-offer-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column h5 {
  color: #f00;
  text-align: left;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.column h3 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.column p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.column02 {
  flex: 1;
  padding: 20px;
}
.column03 {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column03 h3 {
  color: #f00;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.column03 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
.column03 img {
  width: 140px;
  height: 140px;
}
.circle-image {
  width: 365px;
  height: 365px;
  background-color: white;
  border: 15px solid red;
  border-radius: 50%;
  padding: 20px;
}
/* ENDED.......... */
/*----------------------------holiday sale style-------------------*/
.holiday-sale-container {
  width: 1320px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  text-align: center;
}
.text-container h5,
h2,
p {
  margin: 0;
}
.text-container > h5 {
  color: #070211;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.text-container > h2 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
}
.text-container > p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.holidday-special-text {
  color: #f00;
}
/* ENDED */
/* ---------------------------HOLIDAY SECTION STYLE START HERE -------------------------- */
.discount-container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-image: url("../assets/rectangle/Rectangle\ 2.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 660px;
}

.flex-item {
  flex: 1;
  position: relative;
}
.flex-item2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.centered-image {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.centered-image img {
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
  filter: grayscale(0%) blur(0px) brightness(100%) contrast(100%);
}

.image-container {
  width: 430px;
  height: 433px;
  background-image: url("../assets/rectangle/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-size: 430px, 433px;
  display: flex;
  align-items: center;
}
.circle-image2 img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  margin-left: -50%;
  border: 6px solid white;
}
/* --------------------------------GIFT SHOWCASE START HERE----------- */
.gift-showcase-container {
  width: 1320px;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.text-containerX {
  flex: 1;
}
.text-containerX h5 {
  color: #f00;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0px;
}

.text-containerX h3 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 16px 0px;
}

.text-containerX p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.image-containerX {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.image-box {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  position: relative;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-box:hover img {
  transform: scale(1.1);
}
/* ----------------------ENDED-------------- */
/* SUBSCRIBE SECTION START --------------------------------------------------------- */
.subcribe-perent {
  width: 1320px;
  margin: auto;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 100px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subscribe-container img {
  max-width: 100px;
  margin-bottom: 10px;
}
.subscribe-container h4 {
  color: #070211;
  text-align: center;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
}
.subscribe-container p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 600px;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  width: 70%;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.input-container a {
  padding: 10px;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}

/*------------------footer style start here -------------------  */

.container {
  background-color: #070211;
  color: white;
  
}
.footer-info {
  width: 1320px;
  margin: auto;
  padding: 100px;
}
.footer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adress-p h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.adress-p2 h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.footer-item2 a {
  padding: 5px;
  text-decoration: none;
  color: #333;
  transition: 0.3s ease-in-out;
}

.footer-item2 a:hover {
  transform: scale(1.2);
}

.footer-item3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-item3 span {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}
.unsubscribe-button {
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  background-color: #070211;
}
.unsubscribe-container {
  text-align: center;
}
.unsubscribe-button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.unsubscribe-button:hover {
  background-color:red; 
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
hr{
  border: 1px solid #798287;;
}
/* --------------------Finished------------------- */

